// out:false
.modalMask{
  display: none;
  position: fixed;
  // inset设置成0等价于top: 0; right: 0; bottom: 0; left: 0
  inset: 0;
  // 遮罩层在页面上面，但比弹窗低一层
  z-index: 9998;
  background: rgba(15, 23, 42, .45);
  // 使遮罩层后面的元素看起来像玻璃
  backdrop-filter: blur(4px);
}
